In [1]:
import pandas as pd
import sqlite3
from pandasql import sqldf

# Definição do caminho do arquivo
caminho_baseUnificada = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\BaseUnificada.xlsx'

# Leitura dos arquivos excel
Base_Unificada = pd.read_excel(caminho_baseUnificada, sheet_name='BaseUnificada')
Base_Unificada
# Leitura apenas das colunas desejadas do arquivo fotografia_Funded
# df_base = pd.read_excel(caminho_baseUnificada, sheet_name='BaseUnificada')

# df_base

,AGE NUMBER,BANCO,BANK_CITY_LENDER,CCY,AMOUNT_RECEIVED,AMOUNT_USD,AMOUNT_LC,TRANSACTION,DEAL_DATE,VALUE_DATE,MATURITY,ORIGINAL_MATURITY,TERM,PAIS_UNIDADE,HISTORY,Unnamed: 15,Unnamed: 16
0,1,BNY MELLON,BNY MELLON,USD,18000000,18000000,NaN,TRADE,2023-02-06 00:00:00,2023-10-03 00:00:00,2023-02-06,2023-02-06,180,USA,NaN,NaN,NaN
1,2,JP MORGAN da BASE,JP MORGAN da BASE,USD,180000000,180000000,NaN,TRADE,2023-12-06 00:00:00,14/03/2023,2023-12-06,2023-12-06,90,USA,NaN,NaN,NaN
2,3,DEUTSCHE BANK,DEUTSCHE BANK,USD,27000000,27000000,NaN,TRADE,2023-06-03 00:00:00,2023-06-03 00:00:00,2023-06-03,2023-06-03,360,UK,NaN,NaN,NaN
3,4,HSBC,HSBC,USD,31000000,31000000,NaN,WK,28/02/2023,28/02/2023,2023-12-05,2023-12-05,360,BRAZIL,NaN,NaN,NaN
4,6,YES BANK,YES BANK,USD,22000000,22000000,NaN,WK,27/02/2023,28/02/2023,2023-01-08,2023-01-08,90,BRAZIL,NaN,NaN,NaN
5,7,SOCIETE GENERALE,SOCIETE GENERALE,USD,87000000,87000000,NaN,TRADE,13/03/2023,2023-08-02 00:00:00,2023-12-05,2023-12-05,360,USA,NaN,NaN,NaN
6,8,JP MORGAN,JP MORGAN,USD,70000000,70000000,NaN,WK,20/03/2023,30/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
7,9,SANTANDER,SANTANDER,USD,1000000,1000000,NaN,WK,15/03/2023,2023-12-05 00:00:00,2023-01-08,2023-01-08,360,USA,NaN,NaN,NaN
8,10,BANCOLOMBIA,BANCOLOMBIA,USD,27030000,27030000,NaN,STRUCT,2023-02-03 00:00:00,2023-03-09 00:00:00,2023-12-05,2023-12-05,180,BIA,NaN,NaN,NaN
9,11,BANCO DEL CHILE,BANCO DEL CHILE,USD,73000000,73000000,NaN,TRADE,22/08/23,13/11/23,2023-03-09,2023-03-09,270,CHILE,NaN,NaN,NaN
10,12,CHINA BANK,CHINA BANK,USD,64000000,64000000,NaN,TRADE,2023-01-08 00:00:00,26/12/23,2023-06-04,2023-06-04,180,ASIA,NaN,NaN,NaN
11,13,HSBC,HSBC,USD,52000000,52000000,NaN,TRADE,2023-12-05 00:00:00,2023-06-04 00:00:00,2023-10-03,2023-10-03,90,ASIA,NaN,NaN,padrao
12,14,BANCO DO BRASIL,BANCO DO BRASIL,USD,19000000,19000000,NaN,STRUCT,2023-03-09 00:00:00,26/04/23,2023-02-03,2023-02-03,360,BRAZIL,NaN,NaN,NaN
13,15,WELLS FARGO,WELLS FARGO,USD,94500000,94500000,NaN,TRADE,13/11/23,25/02/2023,2023-10-03,2023-10-03,360,USA,NaN,NaN,bancos random
14,16,MORGAN STANLEY,MORGAN STANLEY,USD,86000000,86000000,NaN,WK,26/12/23,20/01/2023,2023-08-02,2023-08-02,270,USA,NaN,NaN,NaN
15,17,CITIBANK,CITIBANK,USD,23050000,23050000,NaN,TRADE,2023-06-04 00:00:00,23/02/2023,2023-12-06,2023-12-06,360,UK,NaN,NaN,repete outro nome
16,18,GOLDMAN SACHS,GOLDMAN SACHS,USD,8300000,8300000,NaN,TRADE,26/04/23,16/03/2023,2023-10-03,2023-10-03,360,BRAZIL,NaN,NaN,NaN
17,19,BANCO LUANZERA,BANCO LUANZERA,USD,9824732,9824732,NaN,TRADE,2023-08-02 00:00:00,2023-12-05 00:00:00,2023-12-06,2023-12-06,360,BRAZIL,NaN,NaN,NaN
18,20,BANCO NICOLAS,BANCO NICOLAS,USD,23948278,23948278,NaN,WK,2023-12-06 00:00:00,14/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
19,21,BANCO CRISTIANO,BANCO CRISTIANO,USD,7000000,7000000,NaN,TRADE,2023-12-06 00:00:00,13/11/23,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
20,22,BNY MELLON NY,BNY MELLON NY,USD,18000000,18000000,NaN,TRADE,2023-02-06 00:00:00,2023-10-03 00:00:00,2023-02-06,2023-02-06,180,USA,NaN,NaN,NaN
21,23,JP MORGAN HK,JP MORGAN HK,USD,180000000,180000000,NaN,TRADE,2023-12-06 00:00:00,14/03/2023,2023-12-06,2023-12-06,90,USA,NaN,NaN,NaN
22,24,THE DEUTSCHE BANK,THE DEUTSCHE BANK,USD,27000000,27000000,NaN,TRADE,2023-06-03 00:00:00,2023-06-03 00:00:00,2023-06-03,2023-06-03,360,UK,NaN,NaN,NaN
23,25,THE HONG KONG AND SHANGAI BANK CORPORATION,THE HONG KONG AND SHANGAI BANK CORPORATION,USD,31000000,31000000,NaN,WK,28/02/2023,28/02/2023,2023-12-05,2023-12-05,360,BRAZIL,NaN,NaN,NaN
24,26,THE YES BANK,THE YES BANK,USD,22000000,22000000,NaN,WK,27/02/2023,28/02/2023,2023-01-08,2023-01-08,90,BRAZIL,NaN,NaN,NaN
25,27,SOCIGEN,SOCIGEN,USD,87000000,87000000,NaN,TRADE,13/03/2023,2023-08-02 00:00:00,2023-12-05,2023-12-05,360,USA,NaN,NaN,NaN
26,28,JP MORGAN USA,JP MORGAN USA,USD,70000000,70000000,NaN,WK,20/03/2023,30/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
27,29,SANTANDER ESPANHA,SANTANDER ESPANHA,USD,1000000,1000000,NaN,WK,15/03/2023,2023-12-05 00:00:00,2023-01-08,2023-01-08,360,USA,NaN,NaN,NaN
28,30,BANCOLOMBIA I CREDITO,BANCOLOMBIA I CREDITO,USD,27030000,27030000,NaN,STRUCT,2023-02-03 00:00:00,2023-03-09 00:00:00,2023-12-05,2023-12-05,180,BIA,NaN,NaN,NaN

In [27]:
import pandas as pd

caminho_baseUnificada = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\BaseUnificada.xlsx'
caminho_dePara = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\dePara.xlsx'

# Lendo os arquivos
df1 = pd.read_excel(caminho_baseUnificada)
df2 = pd.read_excel(caminho_dePara)

# Criar um dicionário com a correspondência de valores
mapping_dict = dict(zip(df2['De'], df2['Para']))

# Realizar a comparação e atualização
df1['BANK_CITY_LENDER'] = df1['BANCO'].map(mapping_dict)

# Exemplo de visualização dos dados atualizados
df1.head(20)

,AGE NUMBER,BANCO,BANK_CITY_LENDER,CCY,AMOUNT_RECEIVED,AMOUNT_USD,AMOUNT_LC,TRANSACTION,DEAL_DATE,VALUE_DATE,MATURITY,ORIGINAL_MATURITY,TERM,PAIS_UNIDADE,HISTORY,Unnamed: 15,Unnamed: 16
0,1,BNY MELLON,BNY MELLON bank,USD,18000000,18000000,NaN,TRADE,2023-02-06 00:00:00,2023-10-03 00:00:00,2023-02-06,2023-02-06,180,USA,NaN,NaN,NaN
1,2,JP MORGAN da BASE,JP MORGAN CHASE,USD,180000000,180000000,NaN,TRADE,2023-12-06 00:00:00,14/03/2023,2023-12-06,2023-12-06,90,USA,NaN,NaN,NaN
2,3,DEUTSCHE BANK,DEUTSCHE BANK,USD,27000000,27000000,NaN,TRADE,2023-06-03 00:00:00,2023-06-03 00:00:00,2023-06-03,2023-06-03,360,UK,NaN,NaN,NaN
3,4,HSBC,HSBC,USD,31000000,31000000,NaN,WK,28/02/2023,28/02/2023,2023-12-05,2023-12-05,360,BRAZIL,NaN,NaN,NaN
4,6,YES BANK,YES BANK,USD,22000000,22000000,NaN,WK,27/02/2023,28/02/2023,2023-01-08,2023-01-08,90,BRAZIL,NaN,NaN,NaN
5,7,SOCIETE GENERALE,SOCIGEN,USD,87000000,87000000,NaN,TRADE,13/03/2023,2023-08-02 00:00:00,2023-12-05,2023-12-05,360,USA,NaN,NaN,NaN
6,8,JP MORGAN,JP MORGAN CHASE,USD,70000000,70000000,NaN,WK,20/03/2023,30/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
7,9,SANTANDER,BANCO SANTANDER,USD,1000000,1000000,NaN,WK,15/03/2023,2023-12-05 00:00:00,2023-01-08,2023-01-08,360,USA,NaN,NaN,NaN
8,10,BANCOLOMBIA,BANCOLOMBIA,USD,27030000,27030000,NaN,STRUCT,2023-02-03 00:00:00,2023-03-09 00:00:00,2023-12-05,2023-12-05,180,BIA,NaN,NaN,NaN
9,11,BANCO DEL CHILE,BANCO DO CHILE,USD,73000000,73000000,NaN,TRADE,22/08/23,13/11/23,2023-03-09,2023-03-09,270,CHILE,NaN,NaN,NaN
10,12,CHINA BANK,CHINA BANK,USD,64000000,64000000,NaN,TRADE,2023-01-08 00:00:00,26/12/23,2023-06-04,2023-06-04,180,ASIA,NaN,NaN,NaN
11,13,HSBC,HSBC,USD,52000000,52000000,NaN,TRADE,2023-12-05 00:00:00,2023-06-04 00:00:00,2023-10-03,2023-10-03,90,ASIA,NaN,NaN,padrao
12,14,BANCO DO BRASIL,BANCO DO BRASIL,USD,19000000,19000000,NaN,STRUCT,2023-03-09 00:00:00,26/04/23,2023-02-03,2023-02-03,360,BRAZIL,NaN,NaN,NaN
13,15,WELLS FARGO,WELLS FARGO BANK,USD,94500000,94500000,NaN,TRADE,13/11/23,25/02/2023,2023-10-03,2023-10-03,360,USA,NaN,NaN,bancos random
14,16,MORGAN STANLEY,MORGAN STANLEY,USD,86000000,86000000,NaN,WK,26/12/23,20/01/2023,2023-08-02,2023-08-02,270,USA,NaN,NaN,NaN
15,17,CITIBANK,CITIBANK GROUP,USD,23050000,23050000,NaN,TRADE,2023-06-04 00:00:00,23/02/2023,2023-12-06,2023-12-06,360,UK,NaN,NaN,repete outro nome
16,18,GOLDMAN SACHS,GOLDMAN SACHS BANK,USD,8300000,8300000,NaN,TRADE,26/04/23,16/03/2023,2023-10-03,2023-10-03,360,BRAZIL,NaN,NaN,NaN
17,19,BANCO LUANZERA,LUANZERA BANK,USD,9824732,9824732,NaN,TRADE,2023-08-02 00:00:00,2023-12-05 00:00:00,2023-12-06,2023-12-06,360,BRAZIL,NaN,NaN,NaN
18,20,BANCO NICOLAS,NICK BANK,USD,23948278,23948278,NaN,WK,2023-12-06 00:00:00,14/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
19,21,BANCO CRISTIANO,PITIBITOCA BANK,USD,7000000,7000000,NaN,TRADE,2023-12-06 00:00:00,13/11/23,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN

In [28]:
import pandas as pd

caminho_baseUnificada = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\BaseUnificada.xlsx'
caminho_dePara = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\dePara.xlsx'

# Lendo os arquivos
df_base = pd.read_excel(caminho_baseUnificada)
df_de_para = pd.read_excel(caminho_dePara)

# Criar um dicionário com a correspondência de valores
mapping_dict = dict(zip(df_de_para['De'], df_de_para['Para']))

# Atualizar a coluna 'BANK_CITY_LENDER' com base na correspondência
df_base['BANK_CITY_LENDER'] = df_base['BANCO'].map(mapping_dict)

# Exemplo de visualização dos dados atualizados
df_base.head(30)

# Salvar o DataFrame atualizado em um novo arquivo Excel
# df_base.to_excel('caminho_do_arquivo_base_atualizado.xlsx', index=False)

,AGE NUMBER,BANCO,BANK_CITY_LENDER,CCY,AMOUNT_RECEIVED,AMOUNT_USD,AMOUNT_LC,TRANSACTION,DEAL_DATE,VALUE_DATE,MATURITY,ORIGINAL_MATURITY,TERM,PAIS_UNIDADE,HISTORY,Unnamed: 15,Unnamed: 16
0,1,BNY MELLON,BNY MELLON bank,USD,18000000,18000000,NaN,TRADE,2023-02-06 00:00:00,2023-10-03 00:00:00,2023-02-06,2023-02-06,180,USA,NaN,NaN,NaN
1,2,JP MORGAN da BASE,JP MORGAN CHASE,USD,180000000,180000000,NaN,TRADE,2023-12-06 00:00:00,14/03/2023,2023-12-06,2023-12-06,90,USA,NaN,NaN,NaN
2,3,DEUTSCHE BANK,DEUTSCHE BANK,USD,27000000,27000000,NaN,TRADE,2023-06-03 00:00:00,2023-06-03 00:00:00,2023-06-03,2023-06-03,360,UK,NaN,NaN,NaN
3,4,HSBC,HSBC,USD,31000000,31000000,NaN,WK,28/02/2023,28/02/2023,2023-12-05,2023-12-05,360,BRAZIL,NaN,NaN,NaN
4,6,YES BANK,YES BANK,USD,22000000,22000000,NaN,WK,27/02/2023,28/02/2023,2023-01-08,2023-01-08,90,BRAZIL,NaN,NaN,NaN
5,7,SOCIETE GENERALE,SOCIGEN,USD,87000000,87000000,NaN,TRADE,13/03/2023,2023-08-02 00:00:00,2023-12-05,2023-12-05,360,USA,NaN,NaN,NaN
6,8,JP MORGAN,JP MORGAN CHASE,USD,70000000,70000000,NaN,WK,20/03/2023,30/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
7,9,SANTANDER,BANCO SANTANDER,USD,1000000,1000000,NaN,WK,15/03/2023,2023-12-05 00:00:00,2023-01-08,2023-01-08,360,USA,NaN,NaN,NaN
8,10,BANCOLOMBIA,BANCOLOMBIA,USD,27030000,27030000,NaN,STRUCT,2023-02-03 00:00:00,2023-03-09 00:00:00,2023-12-05,2023-12-05,180,BIA,NaN,NaN,NaN
9,11,BANCO DEL CHILE,BANCO DO CHILE,USD,73000000,73000000,NaN,TRADE,22/08/23,13/11/23,2023-03-09,2023-03-09,270,CHILE,NaN,NaN,NaN
10,12,CHINA BANK,CHINA BANK,USD,64000000,64000000,NaN,TRADE,2023-01-08 00:00:00,26/12/23,2023-06-04,2023-06-04,180,ASIA,NaN,NaN,NaN
11,13,HSBC,HSBC,USD,52000000,52000000,NaN,TRADE,2023-12-05 00:00:00,2023-06-04 00:00:00,2023-10-03,2023-10-03,90,ASIA,NaN,NaN,padrao
12,14,BANCO DO BRASIL,BANCO DO BRASIL,USD,19000000,19000000,NaN,STRUCT,2023-03-09 00:00:00,26/04/23,2023-02-03,2023-02-03,360,BRAZIL,NaN,NaN,NaN
13,15,WELLS FARGO,WELLS FARGO BANK,USD,94500000,94500000,NaN,TRADE,13/11/23,25/02/2023,2023-10-03,2023-10-03,360,USA,NaN,NaN,bancos random
14,16,MORGAN STANLEY,MORGAN STANLEY,USD,86000000,86000000,NaN,WK,26/12/23,20/01/2023,2023-08-02,2023-08-02,270,USA,NaN,NaN,NaN
15,17,CITIBANK,CITIBANK GROUP,USD,23050000,23050000,NaN,TRADE,2023-06-04 00:00:00,23/02/2023,2023-12-06,2023-12-06,360,UK,NaN,NaN,repete outro nome
16,18,GOLDMAN SACHS,GOLDMAN SACHS BANK,USD,8300000,8300000,NaN,TRADE,26/04/23,16/03/2023,2023-10-03,2023-10-03,360,BRAZIL,NaN,NaN,NaN
17,19,BANCO LUANZERA,LUANZERA BANK,USD,9824732,9824732,NaN,TRADE,2023-08-02 00:00:00,2023-12-05 00:00:00,2023-12-06,2023-12-06,360,BRAZIL,NaN,NaN,NaN
18,20,BANCO NICOLAS,NICK BANK,USD,23948278,23948278,NaN,WK,2023-12-06 00:00:00,14/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
19,21,BANCO CRISTIANO,PITIBITOCA BANK,USD,7000000,7000000,NaN,TRADE,2023-12-06 00:00:00,13/11/23,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
20,22,BNY MELLON NY,BNY MELLON bank,USD,18000000,18000000,NaN,TRADE,2023-02-06 00:00:00,2023-10-03 00:00:00,2023-02-06,2023-02-06,180,USA,NaN,NaN,NaN
21,23,JP MORGAN HK,JP MORGAN CHASE,USD,180000000,180000000,NaN,TRADE,2023-12-06 00:00:00,14/03/2023,2023-12-06,2023-12-06,90,USA,NaN,NaN,NaN
22,24,THE DEUTSCHE BANK,DEUTSCHE BANK,USD,27000000,27000000,NaN,TRADE,2023-06-03 00:00:00,2023-06-03 00:00:00,2023-06-03,2023-06-03,360,UK,NaN,NaN,NaN
23,25,THE HONG KONG AND SHANGAI BANK CORPORATION,HSBC,USD,31000000,31000000,NaN,WK,28/02/2023,28/02/2023,2023-12-05,2023-12-05,360,BRAZIL,NaN,NaN,NaN
24,26,THE YES BANK,YES BANK,USD,22000000,22000000,NaN,WK,27/02/2023,28/02/2023,2023-01-08,2023-01-08,90,BRAZIL,NaN,NaN,NaN
25,27,SOCIGEN,SOCIGEN,USD,87000000,87000000,NaN,TRADE,13/03/2023,2023-08-02 00:00:00,2023-12-05,2023-12-05,360,USA,NaN,NaN,NaN
26,28,JP MORGAN USA,JP MORGAN CHASE,USD,70000000,70000000,NaN,WK,20/03/2023,30/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
27,29,SANTANDER ESPANHA,BANCO SANTANDER,USD,1000000,1000000,NaN,WK,15/03/2023,2023-12-05 00:00:00,2023-01-08,2023-01-08,360,USA,NaN,NaN,NaN
28,30,BANCOLOMBIA I CREDITO,BANCOLOMBIA,USD,27030000,27030000,NaN,STRUCT,2023-02-03 00:00:00,2023-03-09 00:00:00,2023-12-05,2023-12-05,180,BIA,NaN,NaN,NaN

In [29]:
import pandas as pd

caminho_baseUnificada = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\BaseUnificada.xlsx'
caminho_dePara = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\dePara.xlsx'

# Lendo os arquivos
df_base = pd.read_excel(caminho_baseUnificada)
df_de_para = pd.read_excel(caminho_dePara)

# Atualizar a coluna 'BANK_CITY_LENDER' com base na correspondência
for index, row in df_base.iterrows():
    banco_base = row['BANCO']
    for _, de_para_row in df_de_para.iterrows():
        banco_de_para = de_para_row['De']
        if banco_base == banco_de_para:
            df_base.at[index, 'BANK_CITY_LENDER'] = de_para_row['Para']
            break

# Exemplo de visualização dos dados atualizados
df_base

# Salvar o DataFrame atualizado em um novo arquivo Excel
# df_base.to_excel('caminho_do_arquivo_base_atualizado.xlsx', index=False)

,AGE NUMBER,BANCO,BANK_CITY_LENDER,CCY,AMOUNT_RECEIVED,AMOUNT_USD,AMOUNT_LC,TRANSACTION,DEAL_DATE,VALUE_DATE,MATURITY,ORIGINAL_MATURITY,TERM,PAIS_UNIDADE,HISTORY,Unnamed: 15,Unnamed: 16
0,1,BNY MELLON,BNY MELLON bank,USD,18000000,18000000,NaN,TRADE,2023-02-06 00:00:00,2023-10-03 00:00:00,2023-02-06,2023-02-06,180,USA,NaN,NaN,NaN
1,2,JP MORGAN da BASE,JP MORGAN CHASE,USD,180000000,180000000,NaN,TRADE,2023-12-06 00:00:00,14/03/2023,2023-12-06,2023-12-06,90,USA,NaN,NaN,NaN
2,3,DEUTSCHE BANK,DEUTSCHE BANK,USD,27000000,27000000,NaN,TRADE,2023-06-03 00:00:00,2023-06-03 00:00:00,2023-06-03,2023-06-03,360,UK,NaN,NaN,NaN
3,4,HSBC,HSBC,USD,31000000,31000000,NaN,WK,28/02/2023,28/02/2023,2023-12-05,2023-12-05,360,BRAZIL,NaN,NaN,NaN
4,6,YES BANK,YES BANK,USD,22000000,22000000,NaN,WK,27/02/2023,28/02/2023,2023-01-08,2023-01-08,90,BRAZIL,NaN,NaN,NaN
5,7,SOCIETE GENERALE,SOCIGEN,USD,87000000,87000000,NaN,TRADE,13/03/2023,2023-08-02 00:00:00,2023-12-05,2023-12-05,360,USA,NaN,NaN,NaN
6,8,JP MORGAN,JP MORGAN CHASE,USD,70000000,70000000,NaN,WK,20/03/2023,30/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
7,9,SANTANDER,BANCO SANTANDER,USD,1000000,1000000,NaN,WK,15/03/2023,2023-12-05 00:00:00,2023-01-08,2023-01-08,360,USA,NaN,NaN,NaN
8,10,BANCOLOMBIA,BANCOLOMBIA,USD,27030000,27030000,NaN,STRUCT,2023-02-03 00:00:00,2023-03-09 00:00:00,2023-12-05,2023-12-05,180,BIA,NaN,NaN,NaN
9,11,BANCO DEL CHILE,BANCO DO CHILE,USD,73000000,73000000,NaN,TRADE,22/08/23,13/11/23,2023-03-09,2023-03-09,270,CHILE,NaN,NaN,NaN
10,12,CHINA BANK,CHINA BANK,USD,64000000,64000000,NaN,TRADE,2023-01-08 00:00:00,26/12/23,2023-06-04,2023-06-04,180,ASIA,NaN,NaN,NaN
11,13,HSBC,HSBC,USD,52000000,52000000,NaN,TRADE,2023-12-05 00:00:00,2023-06-04 00:00:00,2023-10-03,2023-10-03,90,ASIA,NaN,NaN,padrao
12,14,BANCO DO BRASIL,BANCO DO BRASIL,USD,19000000,19000000,NaN,STRUCT,2023-03-09 00:00:00,26/04/23,2023-02-03,2023-02-03,360,BRAZIL,NaN,NaN,NaN
13,15,WELLS FARGO,WELLS FARGO BANK,USD,94500000,94500000,NaN,TRADE,13/11/23,25/02/2023,2023-10-03,2023-10-03,360,USA,NaN,NaN,bancos random
14,16,MORGAN STANLEY,MORGAN STANLEY,USD,86000000,86000000,NaN,WK,26/12/23,20/01/2023,2023-08-02,2023-08-02,270,USA,NaN,NaN,NaN
15,17,CITIBANK,CITIBANK GROUP,USD,23050000,23050000,NaN,TRADE,2023-06-04 00:00:00,23/02/2023,2023-12-06,2023-12-06,360,UK,NaN,NaN,repete outro nome
16,18,GOLDMAN SACHS,GOLDMAN SACHS BANK,USD,8300000,8300000,NaN,TRADE,26/04/23,16/03/2023,2023-10-03,2023-10-03,360,BRAZIL,NaN,NaN,NaN
17,19,BANCO LUANZERA,LUANZERA BANK,USD,9824732,9824732,NaN,TRADE,2023-08-02 00:00:00,2023-12-05 00:00:00,2023-12-06,2023-12-06,360,BRAZIL,NaN,NaN,NaN
18,20,BANCO NICOLAS,NICK BANK,USD,23948278,23948278,NaN,WK,2023-12-06 00:00:00,14/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
19,21,BANCO CRISTIANO,PITIBITOCA BANK,USD,7000000,7000000,NaN,TRADE,2023-12-06 00:00:00,13/11/23,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
20,22,BNY MELLON NY,BNY MELLON bank,USD,18000000,18000000,NaN,TRADE,2023-02-06 00:00:00,2023-10-03 00:00:00,2023-02-06,2023-02-06,180,USA,NaN,NaN,NaN
21,23,JP MORGAN HK,JP MORGAN CHASE,USD,180000000,180000000,NaN,TRADE,2023-12-06 00:00:00,14/03/2023,2023-12-06,2023-12-06,90,USA,NaN,NaN,NaN
22,24,THE DEUTSCHE BANK,DEUTSCHE BANK,USD,27000000,27000000,NaN,TRADE,2023-06-03 00:00:00,2023-06-03 00:00:00,2023-06-03,2023-06-03,360,UK,NaN,NaN,NaN
23,25,THE HONG KONG AND SHANGAI BANK CORPORATION,HSBC,USD,31000000,31000000,NaN,WK,28/02/2023,28/02/2023,2023-12-05,2023-12-05,360,BRAZIL,NaN,NaN,NaN
24,26,THE YES BANK,YES BANK,USD,22000000,22000000,NaN,WK,27/02/2023,28/02/2023,2023-01-08,2023-01-08,90,BRAZIL,NaN,NaN,NaN
25,27,SOCIGEN,SOCIGEN,USD,87000000,87000000,NaN,TRADE,13/03/2023,2023-08-02 00:00:00,2023-12-05,2023-12-05,360,USA,NaN,NaN,NaN
26,28,JP MORGAN USA,JP MORGAN CHASE,USD,70000000,70000000,NaN,WK,20/03/2023,30/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
27,29,SANTANDER ESPANHA,BANCO SANTANDER,USD,1000000,1000000,NaN,WK,15/03/2023,2023-12-05 00:00:00,2023-01-08,2023-01-08,360,USA,NaN,NaN,NaN
28,30,BANCOLOMBIA I CREDITO,BANCOLOMBIA,USD,27030000,27030000,NaN,STRUCT,2023-02-03 00:00:00,2023-03-09 00:00:00,2023-12-05,2023-12-05,180,BIA,NaN,NaN,NaN

In [30]:
import pandas as pd

caminho_baseUnificada = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\BaseUnificada.xlsx'
caminho_dePara = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\dePara.xlsx'

# Lendo os arquivos
df_base = pd.read_excel(caminho_baseUnificada)
df_de_para = pd.read_excel(caminho_dePara)

# Criar um dicionário com a correspondência de valores
mapping_dict = dict(zip(df_de_para['De'], df_de_para['Para']))

# Atualizar a coluna 'BANK_CITY_LENDER' com base na correspondência
df_base['BANK_CITY_LENDER'] = df_base['BANCO'].map(mapping_dict).fillna(df_base['BANK_CITY_LENDER'])

# Exemplo de visualização dos dados atualizados
# df_base

# Separando em 2 DataFrames, um com apenas operacoes WK

# No Df de WK retirar o depara.

# Salvar o DataFrame atualizado em um novo arquivo Excel
#df_base.to_excel('caminho_do_arquivo_base_atualizado.xlsx', index=False)

,AGE NUMBER,BANCO,BANK_CITY_LENDER,CCY,AMOUNT_RECEIVED,AMOUNT_USD,AMOUNT_LC,TRANSACTION,DEAL_DATE,VALUE_DATE,MATURITY,ORIGINAL_MATURITY,TERM,PAIS_UNIDADE,HISTORY,Unnamed: 15,Unnamed: 16
0,1,BNY MELLON,BNY MELLON bank,USD,18000000,18000000,NaN,TRADE,2023-02-06 00:00:00,2023-10-03 00:00:00,2023-02-06,2023-02-06,180,USA,NaN,NaN,NaN
1,2,JP MORGAN da BASE,JP MORGAN CHASE,USD,180000000,180000000,NaN,TRADE,2023-12-06 00:00:00,14/03/2023,2023-12-06,2023-12-06,90,USA,NaN,NaN,NaN
2,3,DEUTSCHE BANK,DEUTSCHE BANK,USD,27000000,27000000,NaN,TRADE,2023-06-03 00:00:00,2023-06-03 00:00:00,2023-06-03,2023-06-03,360,UK,NaN,NaN,NaN
3,4,HSBC,HSBC,USD,31000000,31000000,NaN,WK,28/02/2023,28/02/2023,2023-12-05,2023-12-05,360,BRAZIL,NaN,NaN,NaN
4,6,YES BANK,YES BANK,USD,22000000,22000000,NaN,WK,27/02/2023,28/02/2023,2023-01-08,2023-01-08,90,BRAZIL,NaN,NaN,NaN
5,7,SOCIETE GENERALE,SOCIGEN,USD,87000000,87000000,NaN,TRADE,13/03/2023,2023-08-02 00:00:00,2023-12-05,2023-12-05,360,USA,NaN,NaN,NaN
6,8,JP MORGAN,JP MORGAN CHASE,USD,70000000,70000000,NaN,WK,20/03/2023,30/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
7,9,SANTANDER,BANCO SANTANDER,USD,1000000,1000000,NaN,WK,15/03/2023,2023-12-05 00:00:00,2023-01-08,2023-01-08,360,USA,NaN,NaN,NaN
8,10,BANCOLOMBIA,BANCOLOMBIA,USD,27030000,27030000,NaN,STRUCT,2023-02-03 00:00:00,2023-03-09 00:00:00,2023-12-05,2023-12-05,180,BIA,NaN,NaN,NaN
9,11,BANCO DEL CHILE,BANCO DO CHILE,USD,73000000,73000000,NaN,TRADE,22/08/23,13/11/23,2023-03-09,2023-03-09,270,CHILE,NaN,NaN,NaN
10,12,CHINA BANK,CHINA BANK,USD,64000000,64000000,NaN,TRADE,2023-01-08 00:00:00,26/12/23,2023-06-04,2023-06-04,180,ASIA,NaN,NaN,NaN
11,13,HSBC,HSBC,USD,52000000,52000000,NaN,TRADE,2023-12-05 00:00:00,2023-06-04 00:00:00,2023-10-03,2023-10-03,90,ASIA,NaN,NaN,padrao
12,14,BANCO DO BRASIL,BANCO DO BRASIL,USD,19000000,19000000,NaN,STRUCT,2023-03-09 00:00:00,26/04/23,2023-02-03,2023-02-03,360,BRAZIL,NaN,NaN,NaN
13,15,WELLS FARGO,WELLS FARGO BANK,USD,94500000,94500000,NaN,TRADE,13/11/23,25/02/2023,2023-10-03,2023-10-03,360,USA,NaN,NaN,bancos random
14,16,MORGAN STANLEY,MORGAN STANLEY,USD,86000000,86000000,NaN,WK,26/12/23,20/01/2023,2023-08-02,2023-08-02,270,USA,NaN,NaN,NaN
15,17,CITIBANK,CITIBANK GROUP,USD,23050000,23050000,NaN,TRADE,2023-06-04 00:00:00,23/02/2023,2023-12-06,2023-12-06,360,UK,NaN,NaN,repete outro nome
16,18,GOLDMAN SACHS,GOLDMAN SACHS BANK,USD,8300000,8300000,NaN,TRADE,26/04/23,16/03/2023,2023-10-03,2023-10-03,360,BRAZIL,NaN,NaN,NaN
17,19,BANCO LUANZERA,LUANZERA BANK,USD,9824732,9824732,NaN,TRADE,2023-08-02 00:00:00,2023-12-05 00:00:00,2023-12-06,2023-12-06,360,BRAZIL,NaN,NaN,NaN
18,20,BANCO NICOLAS,NICK BANK,USD,23948278,23948278,NaN,WK,2023-12-06 00:00:00,14/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
19,21,BANCO CRISTIANO,PITIBITOCA BANK,USD,7000000,7000000,NaN,TRADE,2023-12-06 00:00:00,13/11/23,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
20,22,BNY MELLON NY,BNY MELLON bank,USD,18000000,18000000,NaN,TRADE,2023-02-06 00:00:00,2023-10-03 00:00:00,2023-02-06,2023-02-06,180,USA,NaN,NaN,NaN
21,23,JP MORGAN HK,JP MORGAN CHASE,USD,180000000,180000000,NaN,TRADE,2023-12-06 00:00:00,14/03/2023,2023-12-06,2023-12-06,90,USA,NaN,NaN,NaN
22,24,THE DEUTSCHE BANK,DEUTSCHE BANK,USD,27000000,27000000,NaN,TRADE,2023-06-03 00:00:00,2023-06-03 00:00:00,2023-06-03,2023-06-03,360,UK,NaN,NaN,NaN
23,25,THE HONG KONG AND SHANGAI BANK CORPORATION,HSBC,USD,31000000,31000000,NaN,WK,28/02/2023,28/02/2023,2023-12-05,2023-12-05,360,BRAZIL,NaN,NaN,NaN
24,26,THE YES BANK,YES BANK,USD,22000000,22000000,NaN,WK,27/02/2023,28/02/2023,2023-01-08,2023-01-08,90,BRAZIL,NaN,NaN,NaN
25,27,SOCIGEN,SOCIGEN,USD,87000000,87000000,NaN,TRADE,13/03/2023,2023-08-02 00:00:00,2023-12-05,2023-12-05,360,USA,NaN,NaN,NaN
26,28,JP MORGAN USA,JP MORGAN CHASE,USD,70000000,70000000,NaN,WK,20/03/2023,30/03/2023,2023-03-09,2023-03-09,360,BRAZIL,NaN,NaN,NaN
27,29,SANTANDER ESPANHA,BANCO SANTANDER,USD,1000000,1000000,NaN,WK,15/03/2023,2023-12-05 00:00:00,2023-01-08,2023-01-08,360,USA,NaN,NaN,NaN
28,30,BANCOLOMBIA I CREDITO,BANCOLOMBIA,USD,27030000,27030000,NaN,STRUCT,2023-02-03 00:00:00,2023-03-09 00:00:00,2023-12-05,2023-12-05,180,BIA,NaN,NaN,NaN

#### Samole to base unificada

In [ ]:
import pandas as pd

caminho_baseUnificada = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\BaseUnificada.xlsx'
caminho_dePara = r'C:\Users\luanzera\Desktop\Estudos\Task BBA - Carteira RMs - PowerBi\BaseUnificada\dePara.xlsx'

# Lendo os arquivos
df_base = pd.read_excel(caminho_baseUnificada)
df_de_para = pd.read_excel(caminho_dePara)

# Criar um dicionário com a correspondência de valores
mapping_dict = dict(zip(df_de_para['De'], df_de_para['Para']))

# Atualizar a coluna 'BANK_CITY_LENDER' com base na correspondência
df_base['BANK_CITY_LENDER'] = df_base['BANCO'].map(mapping_dict).fillna(df_base['BANK_CITY_LENDER'])

# Filtrar o DataFrame original para conter apenas operações 'WK'
df_wk = df_base[df_base['TRANSACTION'] == 'WK']

# Remover o depara do DataFrame de WK
df_wk['BANK_CITY_LENDER'] = df_wk['BANCO']

# Salvar o DataFrame atualizado em um novo arquivo Excel
df_wk.to_excel('caminho_do_arquivo_base_wk_atualizado.xlsx', index=False)